<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RentalsDb"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\faizy\Downloads\CST4708-Fall2025.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
</configuration>
